<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <parameter name="Browser" value="chrome"></parameter>
    <test verbose="2" preserve-order="true" name="regression">
        <classes>
            <class name="tests.UserRegistrationTest"></class>
            <class name="tests.UserloginTest"></class>
            <class name="tests.UserChangePasswordTest"></class>
            <class name="tests.UserCanSearchTest"></class>
            <class name="tests.UserRegistration_WithRead_Data_FromExlTest"></class>
            <class name="tests.UserCanSearchWithAutoTest"></class>
            <class name="tests.ContactUsTest"></class>
        </classes>
    </test>
</suite>